* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  height: 100vh;
}

.sidebar {
  position: fixed;
  width: 256px;
  height: 100%;
  top: 0;
}

.sidebar-bg {
  background-color: #3c4b64;
}

.sidebar-bg-2 {
  background-color: rgba(0, 0, 21, 0.2);
}

.navbar-nav {
  overflow-y: hidden;
  margin-right: 0;
  height: calc(100% - (64px + 48px));
}

.navbar-nav:hover {
  overflow-y: scroll;
  position: relative;
}

.navbar-nav::-webkit-scrollbar-track {
  margin: 5px 0;
}

.navbar-nav::-webkit-scrollbar {
  width: 8px;
  position: absolute;
}

.navbar-nav::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 50px;
}

.logo-height {
  height: 64px;
}

.logo-middle-word {
  font-size: 15px;
  font-weight: 500;
}

.logo-last-word {
  font-size: 12px;
}

.sm-badge {
  border: none;
  border-radius: 5px;
  color: white;
  padding: 0 5px;
  font-size: 12px;
}

.small-font {
  font-size: 10px;
}

.text {
  font-size: 12px;
  padding: 26px 0 13px 10px;
  font-weight: 800;
}

.open-sidebar-icon {
  font-size: 28px;
}

.sidebar nav ul .hover {
  height: 52px;
  cursor: pointer;
}

.sidebar nav ul [aria-expanded="true"] {
  background-color: black;
}

.sidebar nav ul .hover:hover {
  background-color: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.8);
}

.open-sidebar-icon {
  background-color: rgba(0, 0, 21, 0.2);
  position: fixed;
  width: 256px;
  bottom: 0;
  height: 48px;
  cursor: pointer;
  color: gray;
}

.open-sidebar-icon:hover {
  background-color: rgba(0, 0, 21, 0.3);;
}

.open-sidebar-icon:hover .color {
  color: white;
}

.sidebar.min {
  width: 80px;
}

/* middle  */
.middle-navbar {
  height: 100%;
  position: relative;
  left: 256px;
  width: calc(100% - 256px);
}

.close-sidebar-icon {
  font-size: 20px;
  cursor: pointer;
}

.icons {
  font-size: 18px;
  color: #2c384aae;
}

.text-grey {
  color: #2c384aae;
}

.text-grey:hover {
  color: black;
}

.font-size {
  font-size: 15px;
}

.avatar {
  padding: 0 25px 0 30px;
}

.profile-img {
  width: 40px;
  height: 40px;
}