* {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  height: 100vh;
}

.sidebar {
  position: fixed;
  width: 256px;
  height: 100%;
  top: 0;
  z-index: 1000;
}

.sidebar-bg {
  background-color: #3c4b64;
}

.sidebar-bg-2 {
  background-color: rgba(0, 0, 21, 0.2);
}

.sidebar .navbar-nav {
  overflow-y: auto;
  overflow-x: auto;
  margin-right: 0;
  height: calc(100% - (64px + 48px));
}

.sidebar .navbar-nav:active::-webkit-scrollbar-thumb,
.sidebar .navbar-nav:focus::-webkit-scrollbar-thumb,
.sidebar .navbar-nav:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.sidebar .navbar-nav::-webkit-scrollbar-track {
  margin: 5px 0;
}

.sidebar .navbar-nav::-webkit-scrollbar {
  width: 8px;
}

.sidebar .navbar-nav::-webkit-scrollbar-thumb {
  background-color: #2b2b2b;
  border-radius: 50px;
  visibility: hidden;
}

.sidebar .sm-badge {
  border: none;
  border-radius: 5px;
  color: white;
  padding: 0 5px;
  font-size: 12px;
}

.small-font {
  font-size: 10px;
}

.logo-height {
  height: 64px;
}

.logo-middle-word {
  font-size: 15px;
  font-weight: 500;
}

.logo-last-word {
  font-size: 12px;
}

.sidebar li i {
  font-size: 18px;
}

.sidebar .text-title {
  font-size: 12px;
  padding: 26px 0 13px 10px;
  font-weight: 800;
}

.sidebar .open-sidebar-icon {
  font-size: 28px;
}

.sidebar nav ul .hover {
  height: 52px;
  cursor: pointer;
}

.sidebar nav ul [aria-expanded="true"] {
  background-color: rgba(0, 0, 21, 0.2);
}

.sidebar nav ul .hover:hover {
  background-color: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.8);
}

.sidebar .open-sidebar-icon {
  background-color: rgba(0, 0, 21, 0.2);
  bottom: 0;
  height: 48px;
  cursor: pointer;
  color: gray;
}

.sidebar .open-sidebar-icon:hover {
  background-color: rgba(0, 0, 21, 0.3);
}

.sidebar .open-sidebar-icon:hover .color {
  color: white;
}
/* sidebar end */

/* min sidebar */
.sidebar-menu.minSidebar .sidebar {
  width: 64px;
}

.sidebar-menu.minSidebar .sidebar:hover {
  width: 256px;
}

.sidebar-menu.minSidebar .open-sidebar-icon {
  display: flex;
  justify-content: center;
}

.sidebar-menu.minSidebar:hover .open-sidebar-icon {
  display: block;
}

.sidebar-menu.minSidebar .sidebar .d-min-sidebar,
.sidebar-menu.minSidebar .sidebar .bi-chevron-down,
.sidebar-menu.minSidebar .sidebar .text-title,
.sidebar-menu.minSidebar .sidebar nav ul .collapse.show {
  display: none;
}

.sidebar-menu.minSidebar .sidebar:hover nav ul .collapse.show {
  display: block;
}

.sidebar-menu.minSidebar .sidebar:hover .d-min-sidebar,
.sidebar-menu.minSidebar .sidebar:hover .bi-chevron-down,
.sidebar-menu.minSidebar .sidebar:hover .text-title {
  display: inline-flex;
}

.sidebar-menu.minSidebar .sidebar ~ .middle-navbar {
  left: 64px;
  width: calc(100% - 64px);
}
/* min sidebar end */

/* close sidebar */
.sidebar-menu.close .sidebar {
  width: 0;
}

.sidebar-menu.close .sidebar ~ .middle-navbar {
  left: 0;
  width: 100%;
}

.sidebar-menu.close .middle-navbar {
  z-index: 1000;
}
/* close sidebar end */

/* middle  */
.middle-navbar {
  height: 100%;
  position: relative;
  left: 256px;
  width: calc(100% - 256px);
  z-index: 999;
}

.middle-navbar .navbar-things {
  position: sticky;
  top: 0;
}

.middle-navbar .close-sidebar-icon {
  font-size: 20px;
  cursor: pointer;
}

.middle-navbar .menu-icon {
  padding: 0 20px 0 20px;
}

.middle-navbar .menu-icon i {
  font-size: 20px;
}

.middle-navbar .md-sidebar-icon {
  display: none;
}

.middle-navbar .md-show-logo {
  display: none;
}

.middle-navbar .icons {
  font-size: 20px;
  color: #2c384aae;
}

.middle-navbar .text-gray {
  color: #2c384aae;
}

.middle-navbar .text-grey:hover {
  color: black;
}

.middle-navbar .font-size {
  font-size: 15px;
}

.middle-navbar .avatar {
  padding: 0 25px 0 30px;
}

.middle-navbar .profile-img {
  width: 40px;
  height: 40px;
  margin-right: 16px;
  margin-left: 5px;
}

.middle-navbar .badge-info {
  padding: 5px 5px 2px;
  font-size: 10px;
  margin-left: 5px;
}

.middle-navbar .account-info,
.middle-navbar .setting-bg {
  padding-bottom: 4px;
  padding-top: 3px;
}

.middle-navbar .account-info-text-size {
  font-size: 13px;
}

.middle-navbar .dropdown-menu .hover-two li a {
  color: gray;
}

.middle-navbar .dropdown-menu .hover-two li a:hover {
  background-color: rgb(216, 216, 216);
}

.middle-navbar .dropdown-menu li i {
  padding-right: 10px;
  font-size: 14px;
}

.middle-navbar .card-body {
  border-radius: 5px;
}

.middle-navbar .chart-place {
  height: 70px;
}

.middle-navbar .chart-size {
  height: 70px;
  width: 295px;
}

.middle-navbar .chart-size-2 {
  height: 70px;
  width: 327px;
}

.middle-navbar .chart-place-2 {
  height: 300px;
  margin-top: 40px;
}

.middle-navbar .three-app .app-icon .icon-color {
  color: white;
  font-size: 60px;
  height: 112px;
  width: 332px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-navbar .three-app .app-text .number {
  font-size: 20px;
}

.middle-navbar .three-app .app-text .small-text {
  font-size: 14px;
}

.middle-navbar .user-title {
  height: 64.8px;
  align-items: center;
  display: flex;
}

.middle-navbar tr {
  display: grid;
  grid-template-columns: 56.4px 146.35px 75.65px 128.75px 107.03px 100.6px 34.03px;
  align-items: center;
}

.middle-navbar .user-img {
  position: relative;
}

.middle-navbar .user-activity {
  width: 10px;
  height: 10px;
  border: 0.5px solid white;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  bottom: 0;
}

.middle-navbar .first-word::first-letter {
  text-transform: uppercase;
}

.middle-navbar .user-dropdown ul li a:hover {
  background-color: rgb(216, 216, 216);
}

/* middle end  */

/* media 768px */
@media screen and (max-width: 768px) {
  /* sidebar */
  .sidebar-menu .sidebar {
    width: 0;
  }

  .sidebar-menu .sidebar ~ .middle-navbar {
    left: 0;
    width: 100%;
  }

  /* offcanvas */
  .sidebar-menu:nth-child(2) .sidebar {
    width: 256px;
    z-index: 1100;
  }
  /* sidebar end */

  /* middle */
  .middle-navbar {
    z-index: 1000;
  }

  .sidebar-menu .menu-icon {
    padding: 0 30px 0 30px;
  }

  .sidebar-menu .lg-sidebar-icon {
    display: none;
  }

  .sidebar-menu .md-sidebar-icon {
    display: block;
  }

  .sidebar-menu .lg-display {
    display: none;
  }

  .sidebar-menu .md-show-logo {
    display: block;
  }
  /* middle */
}
